.background {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../../public/Bauruzao.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container_logout {
  display: inline-grid;
  grid-template-columns: 10fr 10fr 100fr 10fr;
  justify-items: center;
}

.container_login {
  display: inline-grid;
  grid-template-columns: 10fr 10fr 100fr 10fr;
  justify-items: center;
}

.user {
  grid-column: 3;
  align-self: center;
  justify-self: end;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.button_logout {
  align-self: center;
  grid-column: 4;
  background-color: #299370;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.button_login {
  align-self: center;
  grid-column: 4;
  background-color: #299370;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.menuButton {
  width: 20%;
  height: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.menu-overlay {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu {
  position: fixed;
  top: 100px;
  right: 0;
  display: flex;
  justify-content: center;
  width: 155px;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
}

.menuOptions {
  display: block;
  padding: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  background: #299370;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.logo {
  justify-self: start;
  grid-column: 1;
  margin: 1em 1em 1em 2em;
}

.title {
  justify-self: start;
  grid-column: 2;
  margin-top: 2.8em;
}

.profile_logout {
  grid-column: 4;
  width: 65%;
  height: 40%;
  justify-self: center;
  align-self: center;
}

.profile_login {
  grid-column: 5;
  width: 65%;
  height: 40%;
  justify-self: center;
  align-self: center;
}

.container_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr;
  justify-items: center;
  margin-top: 3em;
}

.container_text {
  display: flex;
  grid-row: 2;
  align-items: center;
  text-align: center;
}

.container_text p {
  color: white;
  display: flex;
  font-size: 6em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1em;
}

.container_form {
  display: flex;
  grid-row: 2;
  align-items: center;
}

.form_input {
  background-color: #1E2020;
  width: 32em;
  min-height: 34em;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 1px 8px #424242;
}

.div_input {
  display: grid;
  grid-template-columns: 3fr 50fr 3fr;
}

.form_input span {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  grid-column: 2;
  grid-row: 1;
  padding-top: 20px;
}

.labeltag {
  display: grid;
  grid-template-columns: 11fr 1fr 15fr;
  grid-column: 2;
  grid-row: 2;
}

.alugar1 {
  grid-column: 3;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  justify-self: start;
  align-self: center;
}

#alugar {
  -webkit-appearance: none;
  -moz-appearance: none;
  grid-column: 1;
  align-self: center;
  justify-self: end;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #999;
  transition: 0.2s all linear;
}

#alugar:checked {
  border: 5px solid #33bd8f;
  outline: unset !important;
}

#comprar {
  -webkit-appearance: none;
  -moz-appearance: none;
  grid-column: 3;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #999;
  transition: 0.2s all linear;
}

#comprar:checked {
  border: 5px solid #33bd8f;
  outline: unset !important;
}

.type {
  justify-self: center;
  display: grid;
  align-self: center;
  grid-column: 2;
  grid-row: 2;
  margin: 1em;
}

.addSelect {
  grid-column: 2;
  grid-row: 2;
  width: 2em;
  height: 1em;
  display: flex;
  margin: 3.5em 0em 0em 26em;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0);
  box-shadow: none;
  border: 3px solid #299370;
  font-size: 14px;
}

.selectContainer {
  display: flex;
}

.error {
  border: 1px solid red;
}

.labelType {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.selectType {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-image: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.clonedSelect {
  margin-top: 1em;
}

.selectType::-ms-expand {
  display: none;
}

.divSelect {
  position: relative;
  width: 16em;
  height: 2.3em;
  border-radius: .25em;
  overflow: hidden;
  margin: .2em;
  display: flex;
}

.divSelect:after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7em;
  background-color: gray;
  transition: .25s all ease;
  pointer-events: none;
}

.divSelect:hover::after {
  color: #33bd8f;
}

.value{
  grid-column: 2;
  grid-row: 3;
}

.value div{
  grid-template-rows: 1fr 1fr;
  display: grid;
}

.labelValue{
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.valueMin{
  justify-self: start;
  grid-column: 1;
  grid-row: 2;
  margin-left: 8em;
  width: 8em;
  height: 3em;
  border-radius: .5em;
  border: none;
  padding: 12px;
}

.valueMax{
  justify-self: end;
  grid-column: 1;
  grid-row: 2;
  margin-right: 8em;
  width: 8em;
  height: 3em;
  border-radius: .5em;
  border: none;
  padding: 12px;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  justify-self: center;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.labelMaxMinValue{
  margin: 2px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
}

.garage {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  grid-row: 6;
  grid-column: 2;
  margin: 1em;
}

.labelGarage {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.ulGarage {
  justify-self: center;
  align-items: center;
  height: auto;
}

.bedroom {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  grid-row: 4;
  grid-column: 2;
  margin: 1em;
}

.labelBedroom {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.ulBedroom {
  justify-self: center;
  align-items: center;
  height: auto;
}

.listQtd {
  display: inline;
  vertical-align: baseline;
  list-style: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  height: 2em;
  border-radius: 5em;
  position: relative;
  width: 2em;
}

.listQtd+.listQtd {
  margin-left: 25px;
}

.input-option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-option:after {
  content: "";
  clear: both;
}

.listQtd label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5em;
  white-space: nowrap;
}

.listQtd label span {
  z-index: 1;
  color: #1E2020;
  font-size: 1em;
  padding: 0;
}

.listQtd label input[type=radio] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5em;
  top: 0;
  left: 0;
}

.listQtd label input[type=radio]:checked {
  background-color: #33bd8f;
}

.listQtd label input[type=radio]:checked+span {
  color: #ffffff;
}

.bethroom {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  grid-row: 5;
  grid-column: 2;
  margin: 1em;
}

.ulBethroom {
  justify-self: center;
  align-items: center;
  height: auto;
}

.labelBethroom {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.searchButton {
  grid-row: 7;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  margin: 1em;
}

.imovel {
  color: #33bd8f
}

.bauru {
  color: #33bd8f;
}

@media (max-width: 1800px) {
  .container_logout {
    grid-template-columns: 10fr 10fr 100fr 10fr;
  }

  .container_login {
    grid-template-columns: 10fr 10fr 100fr 10fr;
  }

  .button_logout {
    margin: 1em;
    padding: 8px;
    font-size: 14px;
  }

  .menuButton {
    width: 20%;
    height: auto;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .title {
    width: 140px;
    height: 28px;
    margin-top: 2.5em;
  }

  .container_main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .container_text p {
    font-size: 4em;
    margin: 2em;
  }

  .valueMin{
    justify-self: start;
    grid-column: 1;
    grid-row: 2;
    margin-left: 6em;
    width: 8em;
    height: 3em;
    border-radius: .5em;
    border: none;
    padding: 12px;
  }
  
  .valueMax{
    justify-self: end;
    grid-column: 1;
    grid-row: 2;
    margin-right: 6em;
    width: 8em;
    height: 3em;
    border-radius: .5em;
    border: none;
    padding: 12px;
  }

  .form_input {
    width: 28em;
  }
}

@media (max-width: 1000px){
  .container_main {
    display: flex;
    justify-content: center;
  }
  .container_text p {
    display: none;
  } 
}

@media (max-width: 600px) {
  .container_logout {
    background-color: rgb(30, 32, 32, 0.8);
    grid-template-columns: 1fr 10fr;
  }

  .container_login {
    background-color: rgb(30, 32, 32, 0.8);
    grid-template-columns: 1fr 12fr 10fr;
  }

  .button_logout {
    margin: 2em;
    padding: 6px;
    font-size: 12px;
  }

  .menuButton {
    grid-column: 3;
    grid-row: 1;
    width: 20%;
    height: auto;
  }

  .user {
    display: none;
  }

  .logo {
    grid-column: 1;
    width: 10vh;
    height: 10vh;
  }

  .title {
    display: none;
  }

  .container_main {
    display: block;
    margin: 0;
  }

  .container_text {
    font-size: 14px;
  }

  .container_text p {
    display: none;
  }

  .form_input {
    width: 100vh;
    min-height: 100vh;
    background-color: rgb(30, 32, 32, 0.8);
    border-radius: 0;
    box-shadow: none;
  }

  .div_input {
    grid-template-rows: 1fr;
  }

  .form_input span {
    align-self: center;
    font-size: 1.5em;
  }

  .valueMin{
    justify-self: start;
    grid-column: 1;
    grid-row: 2;
    margin-left: 3em;
    width: 8em;
    height: 3em;
    border-radius: .5em;
    border: none;
    padding: 12px;
  }
  
  .valueMax{
    justify-self: end;
    grid-column: 1;
    grid-row: 2;
    margin-right: 3em;
    width: 8em;
    height: 3em;
    border-radius: .5em;
    border: none;
    padding: 12px;
  }

  .addSelect {
    margin: 6.5em 0em 0em 22em;
  }
}