.background{
    background-color: rgba(0,0,0,0.2);
    background-image: url(../../public/bauru.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    justify-content: left;
}

.sub_background{
    background-color: black;
}

.frase{
    display: flex;
    position: static;
    
}

.form{
    display:flex;
    gap: 25px;
    width: 350px;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

@media screen and (max-width: 600px){
    .form{
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form input[type="password"]{
        width: 100%;
    }

    .form button[type="button"]{
        width: 100%;
    }
}

.title{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px){
    .logo{
        width: 100%;
        max-width: 150px;
        height: auto;
        max-height: 200px;
    }
}

.p{
    bottom: 0;
    padding-top: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media screen and (max-width: 600px){
    .p{
        font-size: 16px;
        padding: 20px;
    }
}

.span{
    color: #07F9A2;
}

.span:hover{
    text-decoration: underline;
}

.invalid{
    color: red;
    margin: -1.5em;
    margin-left: -18em;
    font-size: 14px;
}