.background{
    background-color: black;
    background-image: url(../../public/plano_de_fundo.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
}

.form{
    display:flex;
    gap: 25px;
    width: 350px;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.title{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.p{
    bottom: 0;
    padding-top: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.span{
    color: #07F9A2;
}

.span:hover{
    text-decoration: underline;
}