.background{
  background-color: rgba(0,0,0,0.2);
  background-image: url(../../public/Bauruzao.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container_logout{
  display: inline-grid;
  grid-template-columns: 10fr 10fr 100fr 10fr;
  justify-items: center;
}

.container_login{
  display: inline-grid;
  grid-template-columns: 10fr 10fr 100fr 10fr;
  justify-items: center;
}

.user{
  grid-column: 3;
  align-self: center;
  justify-self: end;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.menuButton{
  width: 20%;
  height: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.menu-overlay {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu {
  position: fixed;
  top: 100px;
  right: 0;
  display: flex;
  justify-content: center;
  width: 187px; /* Largura do menu */
  height: 100%; /* Altura do menu */
  z-index: 1000; 
  overflow-y: auto;
}

.menuOptions {
  display: block;
  padding: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  background: #299370;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.button_logout{
  align-self: center;
  grid-column: 4;
  background-color: #299370;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.button_login{
  align-self: center;
  justify-self: end;
  grid-column: 4;
  background-color: #299370;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.logo{
  justify-self: start;
  grid-column: 1;
  width: 100px;
  height: 100px;
  margin: 1em 1em 1em 2em;
}

.title{
  justify-self: start;
  grid-column: 2;
  width: 160px;
  height: 33px;
  margin-top: 2.8em;
}

.profile_logout{
  grid-column: 4;
  width: 65%;
  height: 40%;
  justify-self: center;
  align-self: center;
}

.profile_login{
  grid-column: 5;
  width: 65%;
  height: 40%;
  justify-self: center;
  align-self: center;
}

.containerForm{
  justify-content: end;
  display: flex;
}

.showForm{
  position: fixed;
  width: 10vh;
  font-size: 1.8vh;
  z-index: 1;
  margin-right: 3em;
}

.form_results {
  background-color: #1E2020;
  width: 32em;
  min-height: 34em;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 1px 8px #424242;
  position: fixed;
  margin: 4em 1em;
}

.div_input {
  display: grid;
  grid-template-columns: 3fr 50fr 3fr;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-items: center;
    padding: 20px;
  }

.result{
  color: white;
  padding-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  background-image: url('../../public/images/logo_apenas.png');
  background-size: contain;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.textLoading{
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

@media (max-width: 1800px) {
  .card_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
  .container_logout {
    grid-template-columns: 10fr 10fr 100fr 10fr;
  }
  .container_login{
    grid-template-columns: 10fr 10fr 100fr 10fr;
  }
  .menuButton{
    width: 20%;
    height: auto;
  }
  .button_logout {
    margin: 1em;
    padding: 8px; 
    font-size: 14px; 
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .title {
    width: 140px;
    height: 28px;
    margin-top: 2.5em;
  }
}

@media (max-width: 1366px){
  .card_container {
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
  .container_logout {
    grid-template-columns: 10fr 10fr 100fr 10fr;
  }
  .button_logout {
    margin: 1em;
    padding: 8px; 
    font-size: 14px; 
  }

  .form_results {
    max-width: 28em;
    margin: -5em 10em;
  }

  .logo {
    width: 80px;
    height: 80px;
  }
  .title {
    width: 140px;
    height: 28px;
    margin-top: 2.5em;
  }
}

@media (max-width: 1000px){
  .card_container {
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }
  .showForm{
    position: fixed;
    margin: 0 1em;
    width: 10vh;
    height: 4vh;
  }
}

@media (max-width: 600px){
  .card_container{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 8px;
  }
  .container_logout {
    grid-template-columns: 1fr 10fr;
  }
  .container_login{
    grid-template-columns: 1fr 12fr 10fr;
  }
  .button_logout {
    margin: 2em;
    padding: 6px; 
    font-size: 12px;
  }
  .menuButton{
    grid-column: 3;
    grid-row: 1;
    width: 20%;
    height: auto;
  }
  .user{
    display: none;
  }
  .logo {
    grid-column: 1;
    width: 10vh;
    height: 10vh;
  }
  .title {
    display: none;
  }
  .result{
    font-size: 20px;
    padding: 10px 60px;
  }

  .form_results {
    width: 100vh;
    background-color: rgb(30, 32, 32, 0.8);
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    position: static;
  }

  .form_results span {
    align-self: center;
    font-size: 1.5em;
  }

  .div_input {
    grid-template-rows: 1fr;
  }

  .valueMin{
    justify-self: start;
    grid-column: 1;
    grid-row: 2;
    margin-left: 3em;
    width: 8em;
    height: 3em;
    border-radius: .5em;
    border: none;
    padding: 12px;
  }
  
  .valueMax{
    justify-self: end;
    grid-column: 1;
    grid-row: 2;
    margin-right: 3em;
    width: 8em;
    height: 3em;
    border-radius: .5em;
    border: none;
    padding: 12px;
  }

  .showForm{
    position: fixed;
    margin: 42em 1em;
  }
}