.card{
    background-color: #1E2020;
    width: 40em;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1367px){
    .card{
        width: 30em;
        min-height: 110vh;
    }
}

@media(max-width: 1000px){
    .card{
        width: 50%;
        min-height: 10vh;
        display: flex;
        margin-top: 20%;
        border-radius: 20px;
    }
}

@media(max-width: 768px) {
    .card{
        width: 100%;
        min-height: 120vh;
    }
}