/* src/components/Card.css */
.card {
    width: 100%;
    display: flex;
    margin: 0;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(70, 70, 70, 0.5);
    grid-template-rows: 15fr 2fr 2fr 2fr 2fr 2fr;
    overflow-wrap: break-word;
    cursor: pointer;
    flex-direction: column;
  }

  .card:hover{
    background-color: rgba(70, 70, 70, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .caracteristicas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-row: 3;
  }

  .card h2 {
    grid-row: 2;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
    color: white;
    text-align: start;
    padding: 0.8em;
  }
  
  .description {
    padding: 3px;
    margin-top: 4px;
    color: white;
    padding-left: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.5em;
  }

  .value{
    padding: 3px;
    margin-top: 4px;
    color: white;
    padding-left: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .casa{
    grid-row: 1;
    border-radius: 16px;
    width: 100%;
    height: auto;
    overflow: auto;
  }

  .divIcon{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.8em;
    gap: 8px;
  }

  .Icon{
    width: 2em;
    height: auto;
    margin-right: 0.5em; 
  }

  .information{
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
  }

  @media (max-width: 1800px) {
    .card {
      width: 100%;
      grid-template-rows: 30fr 4fr 4fr 4fr 4fr;
    }
    .caracteristicas{
      display: grid;
      grid-template-columns: 5fr 5fr 5fr 5fr;
    }
    .card h2 {
      font-size: 0.9rem;
      padding-left: 0.5em;
    }
    .description {
      padding-left: 0.5em;
    }
    .value{
      padding-left: 0.5em;
    }
    .casa{
      max-width: 100%;
    }
  }

  @media (max-width: 1366px){
    .card {
      width: 100%;
      grid-template-rows: 30fr 4fr 4fr 4fr 4fr;
    }
    .caracteristicas{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0px;
      grid-row: auto;
    }
  }

  @media (max-width: 600px){
    .card {
      width: 100%;
      display: flex;
      margin: 0;
      flex-direction: column;
      border-radius: 6px;
    }
    .card h2 {
      font-size: 1rem;
      padding-left: 0.5em;
    }
    .casa{
      border-radius: 6px;
    }
    .caracteristicas{
      grid-template-columns: 1fr 1fr;
      grid-row: auto;
      gap: 0;
    }
    .Icon{
      width: 2em;
      height: auto;
    }
  }