.card{
    background-color: #1E2020;
    width: 40em;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .card{
        width: 100%;
        max-height: auto;
        
    }
}