.card{
    background-color: #1E2020;
    width: 40em;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1367px){
    .card{
        justify-content: center;
        width: 35%;
        min-height: 30em;
    }
}

@media(max-width: 1000px){
    .card{
        width: 50%;
        height: 50vh;
        display: flex;
        margin-top: 40%;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .card{
        width: 100%;
    }
}